<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Last Task CSS</title>
    <link rel="stylesheet" href="style/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="style/stylesheet.css">
</head>
<body class="body">
    <header class="header header--theme">
        <button class="header__button header__button--theme __button--hover text--first-word-upper text--theme-button">help center</button>
        <button class="header__button header__button--theme __button--hover text--first-word-upper text--theme-button">our support</button>
        <button class="header__button header__button--theme-2x header__button--profile"><img src="style/Images/profile.png" alt="You" class="image--photo"><span class="text--first-word-upper text--theme-white">jon doe </span><i class="fa fa-chevron-circle-down text--theme-white"> </i></button>
    </header>
    <main class="main">
        <div class="menu menu--theme">
            <div class="menu__button"><i class="fa fa-plus text_theme_white"> </i><span class="text text--size-uppercase text--theme-white"> add a book</span></div>
            <ul class="menu__list">
                <li class="list__item">
                    <button class="list__button __button--hover">
                        <span class="text--list text--first-word-upper"><span class="fa fa-book icon--theme"></span>now reading</span>
                    </button>
                </li>
                <li class="list__item">
                    <button class="list__button __button--hover">
                        <span class="text--list text--first-word-upper"><span class="fa fa-globe icon--theme"></span>browse</span>
                    </button>
                </li>
                <li class="list__item">
                    <button class="list__button __button--hover">
                        <span class="text--list text--first-word-upper"><span class="fa fa-shopping-cart icon--theme"></span>buy books</span>
                    </button>
                </li>
                <li class="list__item">
                    <button class="list__button __button--hover">
                        <span class="text--list text--first-word-upper"><span class="fa fa-star icon--theme"></span>favorite books</span>
                    </button>
                </li>
                <li class="list__item">
                    <button class="list__button __button--hover">
                        <span class="text--list text--first-word-upper"><span class="fa fa-th-list icon--theme"></span>wishlist</span>
                    </button>
                </li>
                <li class="list__item">
                    <button class="list__button __button--hover">
                        <span class="text--list text--first-word-upper"><span class="fa fa-clock-o icon--theme"></span>history</span>
                    </button>
                </li>
            </ul>
            <ul class="list menu__list">
                <li class="list__item">
                    <button class="list__button __button--hover">
                        <i class="fa fa-circle icon--theme-red"> </i><span class="text--list text--first-word-upper"> must read</span>
                    </button>
                </li>
                <li class="list__item">
                    <button class="list__button __button--hover">
                        <i class="fa fa-circle icon--theme-orange"> </i><span class="text--list text--first-word-upper"> best of list</span>
                    </button>
                </li>
                <li class="list__item">
                    <button class="list__button __button--hover">
                        <i class="fa fa-circle icon--theme-cyan"> </i><span class="text--list text--first-word-upper"> classic novels</span>
                    </button>
                </li>
                <li class="list__item">
                    <button class="list__button __button--hover">
                        <i class="fa fa-circle icon--theme-violet"> </i><span class="text--list text--first-word-upper"> non fiction</span>
                    </button>
                </li>
            </ul>
            <ul class="list menu__list">
                <li class="list__item">
                    <button class="list__button">
                        <span class="text--list text--lower">
                        <i class="fa fa-clock-o icon--theme"></i>
                            <span class="text--first-word-upper text--lower">you</span> added
                            <span class="text--first-word-upper text--lower text--theme-gray">fight club</span> by
                            <span class="text--first-word-upper text--lower text--theme-gray">chuck palahniul</span> to your
                            <span class="text--first-word-upper text--lower text--theme-gray">must read titles.</span>
                            <br>
                            <span class="text--list text--lower">24 minutes ago</span>
                        </span>
                    </button>
                </li>
                <li class="list__item">
                    <button class="list__button">
                        <span class="text--list text--lower">
                        <i class="fa fa-clock-o icon--theme"></i>
                            <span class="text--first-word-upper text--lower">you</span> added
                            <span class="text--first-word-upper text--lower text--theme-gray">the trial</span> by
                            <span class="text--first-word-upper text--lower text--theme-gray">franz kafka</span> to your
                            <span class="text--first-word-upper text--lower text--theme-gray">must read titles.</span>
                            <br>
                            <span class="text--list text--lower">48 minutes ago</span>
                        </span>
                    </button>
                </li>
            </ul>
        </div>
        <div class="search-content-box">
            <div class="search-box">
                <div class="search-box__title"><p class="text--title text--first-word-upper">browse available books</p></div>
                <div class="search-box__block">
                    <button class="search-box__buttons"><span class="text--first-word-upper text--list">all books</span></button>
                    <button class="search-box__buttons"><span class="text--first-word-upper text--list">most recent</span></button>
                    <button class="search-box__buttons"><span class="text--first-word-upper text--list">most popular</span></button>
                    <button class="search-box__buttons"><span class="text--first-word-upper text--list">free books</span></button>
                    <form class="form">
                        <input class="search" type="text" name="input_text" placeholder=" Enter Keywords">
                        <button type="submit" class="button-search"><i class="fa fa-search icon--theme"></i></button>
                    </form>
                </div>
            </div>
            <div class="content">
                <div class="content__block">
                    <img src="style/Images/1.png" alt="book cover" class="image">
                    <p class="author">
                        <span class="author_book text--first-word-upper">jewels </span><span class="author_book">of</span><span class="author_book text_first_word_upper"> nizam</span>
                        <br>
                        <span class="author_name">by </span><span class="author_name text--first-word-upper">geeta devi</span>
                    </p>
                    <i class="fa fa-star text--theme-star"></i>
                    <i class="fa fa-star text--theme-star"></i>
                    <i class="fa fa-star text--theme-star"></i>
                    <i class="fa fa-star text--theme-star"></i>
                    <i class="fa fa-star text--theme-star"></i>
                </div>
                <div class="content__block">
                    <img src="style/Images/2.png" alt="book cover" class="image">
                    <p class="author">
                        <span class="author_book text--first-word-upper">cakes & bakes</span>
                        <br>
                        <span class="author_name">by </span><span class="author_name text--first-word-upper">sanjeev kapoor</span>
                    </p>
                    <i class="fa fa-star text--theme-star"></i>
                    <i class="fa fa-star text--theme-star"></i>
                    <i class="fa fa-star text--theme-star"></i>
                    <i class="fa fa-star text--theme-star"></i>
                    <i class="fa fa-star text--theme-star"></i>
                </div>
                <div class="content__block">
                    <img src="style/Images/3.png" alt="book cover" class="image">
                    <p class="author">
                        <span class="author_book text--first-word-upper">jamie's kitchen</span>
                        <br>
                        <span class="author_name">by </span><span class="author_name text--first-word-upper">jamie oliver</span>
                    </p>
                    <i class="fa fa-star text--theme-star"></i>
                    <i class="fa fa-star text--theme-star"></i>
                    <i class="fa fa-star text--theme-star"></i>
                    <i class="fa fa-star text--theme-star"></i>
                    <i class="fa fa-star-half-o text--theme-star"></i>
                </div>
                <div class="content__block">
                    <img src="style/Images/4.png" alt="book cover" class="image">
                    <p class="author">
                        <span class="author_book text--first-word-upper">inexpensive family meals</span>
                        <br>
                        <span class="author_name">by </span><span class="author_name text--first-word-upper">simon holst</span>
                    </p>
                        <i class="fa fa-star text--theme-star"></i>
                        <i class="fa fa-star text--theme-star"></i>
                        <i class="fa fa-star text--theme-star"></i>
                        <i class="fa fa-star text--theme-star"></i>
                        <i class="fa fa-star-o text--theme-star"></i>
                </div>
                <div class="content__block">
                    <img src="style/Images/5.png" alt="book cover" class="image">
                    <p class="author">
                        <span class="author_book text--first-word-upper">paleo slow cooking</span>
                        <br>
                        <span class="author_name">by </span><span class="author_name text--first-word-upper">chrissy gower</span>
                    </p>
                    <i class="fa fa-star text--theme-star"></i>
                    <i class="fa fa-star text--theme-star"></i>
                    <i class="fa fa-star text--theme-star"></i>
                    <i class="fa fa-star text--theme-star"></i>
                    <i class="fa fa-star-half-o text--theme-star"></i>
                </div>
                <div class="content__block">
                    <img src="style/Images/6.png" alt="book cover" class="image">
                    <p class="author">
                        <span class="author_book text--first-word-upper">cook like </span><span class="author_book">an</span><span class="author_book text_first_word_upper"> italian</span>
                        <br>
                        <span class="author_name">by </span><span class="author_name text--first-word-upper">tobie puttock</span>
                    </p>
                    <i class="fa fa-star text--theme-star"></i>
                    <i class="fa fa-star text--theme-star"></i>
                    <i class="fa fa-star text--theme-star"></i>
                    <i class="fa fa-star text--theme-star"></i>
                    <i class="fa fa-star-o text--theme-star"></i>
                </div>
                <div class="content__block">
                    <img src="style/Images/7.png" alt="book cover" class="image">
                    <p class="author">
                        <span class="author_book text--first-word-upper">suneeta vaswani</span>
                        <br>
                        <span class="author_name">by </span><span class="author_name text--first-word-upper">geeta devi</span>
                    </p>
                    <i class="fa fa-star text--theme-star"></i>
                    <i class="fa fa-star text--theme-star"></i>
                    <i class="fa fa-star text--theme-star"></i>
                    <i class="fa fa-star text--theme-star"></i>
                    <i class="fa fa-star text--theme-star"></i>
                </div>
                <div class="content__block">
                    <img src="style/Images/8.png" alt="book cover" class="image">
                    <p class="author">
                        <span class="author_book text--first-word-upper">jamie does</span>
                        <br>
                        <span class="author_name">by </span><span class="author_name text--first-word-upper">jamie oliver</span>
                    </p>
                    <i class="fa fa-star text--theme-star"></i>
                    <i class="fa fa-star text--theme-star"></i>
                    <i class="fa fa-star text--theme-star"></i>
                    <i class="fa fa-star text--theme-star"></i>
                    <i class="fa fa-star-o text--theme-star"></i>
                </div>
                <div class="content__block">
                    <img src="style/Images/9.png" alt="book cover" class="image">
                    <p class="author">
                        <span class="author_book text--first-word-upper">jamie's italy</span>
                        <br>
                        <span class="author_name">by </span><span class="author_name text--first-word-upper">jamie oliver</span>
                    </p>
                    <i class="fa fa-star text--theme-star"></i>
                    <i class="fa fa-star text--theme-star"></i>
                    <i class="fa fa-star text--theme-star"></i>
                    <i class="fa fa-star text--theme-star"></i>
                    <i class="fa fa-star text--theme-star"></i>
                </div>
                <div class="content__block">
                    <img src="style/Images/10.png" alt="book cover" class="image">
                    <p class="author">
                        <span class="author_book text--first-word-upper">vegetables cookbook</span>
                        <br>
                        <span class="author_name">by </span><span class="author_name text--first-word-upper">matthew biggs</span>
                    </p>
                    <i class="fa fa-star text--theme-star"></i>
                    <i class="fa fa-star text--theme-star"></i>
                    <i class="fa fa-star text--theme-star"></i>
                    <i class="fa fa-star-half-o text--theme-star"></i>
                    <i class="fa fa-star-o text--theme-star"></i>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer footer--theme">
        <button class="footer__button footer__button--theme footer__button--theme-support "><i class="icon fa fa-question-circle text--theme-white"></i></button>
        <button class="footer__button footer__button--theme footer__button--theme-settings "><i class="icon fa fa-cog text--theme-white"></i></button>
    </footer>
</body>
</html>