.add-list {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    list-style-type: none;
    flex-shrink: 0;
    padding: 2px 0 0 0;
    margin-top: 0;
    margin-bottom: 2.5px;
    background-color: #1f2638;
    border-bottom: 1px solid #171c2a;
}

.add-list__item {
    display: flex;
    flex-flow: column nowrap;
    margin: 2em 0;
}

.add-list__icon {
    color: white;
    font-size: 1.2em;
}

.add-list__button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.2em 1.7em 1em 1.4em;
    margin: auto;
    border: none;
    outline: none;
    border-radius: 0.3em;
    background-color: #f27a5b;
}

.add-list__value {
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    padding-left: 1.5em;
}

.add-list__window {
    position: absolute;
    height: 30vh;
    width: 40vh;
    display: none;
    flex-flow: row wrap;
    padding: 2vh;
    top: 30vh;
    left: 55vh;
    right: auto;
    bottom: auto;
    margin: 0;
    background-color: #f27a5b;
}

.add-list__cover {
    width: 100%;
}

.add-list__name {
    width: 100%;
}

.add-list__author {
    width: 100%;
}

.add-list__rating {
    width: 100%;
}

.add-list__submit {
    width: 100%;
}
